langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.7
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
openai==1.34.0
faiss-cpu==1.8.0
python-dotenv==1.0.0
tiktoken==0.7.0
streamlit==1.35.0
